# Importing and Exporting Data
Lesson Goals

    Learn how to import and export delimited files with Pandas.
    Learn how to import and export JSON files.
    Learn how to read data from a database.
    Learn how to write data to a database.

Introduction

No analytics tool operates in a vacuum. Most of the time, the systems that generate the data are not the ones where analysis of that data is conducted. Because of this, we must have a way to obtain data from external data sources, load it into Pandas, and also be able to export data or our results for further use or presentation. In this lesson, we will cover ways to import data from, and export data to, a variety of formats and destinations using Pandas.
Preparation

Download [vehicles.zip](https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-1/vehicles.zip) which contains a bunch of data files in different file formats. Extract the content to your machine. You should see the following extracted files:

vehicles_messy.csv

vehicles_pipe.txt

vehicles_tab.txt

vehicles.csv

vehicles.json

vehicles.xlsx




# Importing and Exporting Delimited Files

One of the most common places where data originates are delimited files. Most analytics applications have the ability to read and process delimited files, so they are a popular way to pass information from one system to another. There a few common file formats you are likely to see out in the real world.

    Comma-separated variable (CSV) files
    Tab-delimited files
    Pipe-delimited files

Pandas provides us with the ability to import any of these using the read_csv method. For files delimited with characters other than commas, we just need to specify the type of delimiter via the method's sep parameter so that Pandas knows how it should separate the values.

In [2]:
import pandas as pd
import openpyxl


# Import comma-separated variable file
data1 = pd.read_csv('vehicles/vehicles.csv')

# Import tab-delimited file
data2 = pd.read_csv('vehicles/vehicles_tab.txt', sep='\t')

# Import pipe-delimited file
data3 = pd.read_csv('vehicles/vehicles_pipe.txt', sep='|')

Exporting data as delimited files is just as easy. Instead of using the read_csv method, you use to_csv.

In [3]:
# Export comma-separated variable file
data4 = data1.to_csv('vehicles/vehicles.csv', index=False)

# Export tab-delimited file
data5 = data2.to_csv('vehicles/vehicles_tab.txt', sep='\t', index=False)

# Export pipe-delimited file
data6 = data3.to_csv('vehicles/vehicles_pipe.txt', sep='|', index=False)

Note that we set the index parameter to False. If we did not do that, it would export the data frame with an extra column containing its indexes. Since the indexes have no meaning to us in this case, we are going to exclude them from our export.



# Importing and Exporting Excel

We can also import and export Microsoft Excel spreadsheets with Pandas. The way to do this is similar to how we imported and exported delimited files, but instead of read_csv and to_csv, we will use the read_excel and to_excel methods.

In [5]:
data = pd.read_excel('vehicles/vehicles.xlsx')

data.to_excel('vehicles/vehicles.xlsx', index=False)

data

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

# Importing and Exporting JSON

Another common format for importing and exporting data is JSON. JSON stands for Javascript Object Notation, and it allows you to format data in intuitive ways so that it can be easily read and processed. We can use Pandas to read and write JSON files as follows.

In [4]:
data = pd.read_json('vehicles/vehicles.json', orient='records')

data.to_json('vehicles/vehicles.json', orient='records')

Note that we set the orient parameter to 'records' in our code examples above. We did this because our JSON file was structured as a list of dictionaries where each dictionary represented a complete record of data. When working with JSON files in Pandas, the way the data is organized is going to dictate the value you pass to the orient parameter. Below are a few other common ways that JSON files can be structured and the corresponding value you should pass to the orient parameter for each one.

    'split': Dictionary containing indexes, columns, and data.
    'index': Nested dictionaries containing {index:{column:value}}.
    'columns': Nested dictionaries containing {column:{index:value}}
    'values': Nested list where each sublist contains the values for a record.
    'table': Nested dictionaries containing schema and data (records).

Challenge: Try exporting the data passing each of these values to the orient parameter. Open each of the files in a text editor and note the differences in structure.




# Reading Data from Databases

In addition to reading data from various types of files, Pandas also provides us with the ability to read data from MySQL databases. To do so, we need to import the pymysql library and the create_engine function from the sqlalchemy library.

In [5]:
import pymysql
from sqlalchemy import create_engine

We must then call the create_engine function and pass it the string below, replacing username and password with the actual username and password for the MySQL database on your local machine. We will assign the result to a variable called engine.

In [6]:
engine=create_engine('mysql+mysqlconnector://admin:password@localhost:3306/Apps')

From there, we can use the Pandas read_sql_query function, pass it a SQL statement, and specify that it is to run that statement on the engine connection we created to our MySQL database. In the example below, we are querying all records from the Ratings table in our Apps database.

In [7]:
data = pd.read_sql_query('SELECT * FROM Ratings', engine)

# Writing Data to Databases

Once you have data in a data frame and you have your MySQL database connections saved to the engine variable, writing the data to a table in the database is pretty straightforward. You can use Pandas' to_sql method and specify the table name you want to give the data set, the database connection, what you want to happen if the table already exists (replace, append, fail, etc.) and whether you want to include or exclude the indexes.

In [8]:
data.to_sql('Ratings2', engine, if_exists='replace', index=False)

If you refresh the publications database, you should now see a table named "Ratings2."